main{
    border: 1px solid red;
    width: 75%;
    margin: 20px auto;
    background-color: antiquewhite;
    padding: 10px;
}
#resultado{
    height: 200px;
    width: 55%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 4px solid rgb(253, 233, 56);
    border-radius: 30px;
    background-color: rgb(243, 191, 95);
    font-size: 150%;
}
h1{
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
}
header{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#contenido{
    height: 200px;
    width: 100%;
    margin: 2%;
    text-align: center;
    justify-content: center;
}
footer{
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;    
}
hr{
    height: 2px;
    background-color: rgb(255, 203, 33);
    border: none;
}
#botones{
    font-size: 250%;
    margin: 2%;
}
a{
    text-decoration: none;
    color: black;
    border: 2px solid rgb(250, 180, 75);
    border-radius: 200px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
a:hover{
    transform: scale(1.1);
    background-color: rgb(250, 158, 20);
    border-color: rgb(255, 164, 28);
}